/* Dành cho điện thoại */
@media all and (min-width: 319px) {
	.title-product{
		padding-left: 23px;
	}
	.padding-24{
	padding:0px 12px 24px 12px;
}
	.list-duan{
	/*max-width: 930px;*/
	margin:auto;
	/*padding:0 3%;*/
	margin:0 10%;
}
	.list-logo{
	/*max-width: 930px;*/
	margin:auto;
	/*padding:0 3%;*/
	margin:0 5%;
}
	.btn.prev {
	position: absolute;
	top: 30%;
	left: -4.5%;
}
.btn.next {
	position: absolute;
	top: 30%;
	right: -4.5%;
}
.col-md-6.col-sm-6.col-xs-12.buil-product {
	max-height: 82px;
}
}
 @media all and (min-width: 600px) {
	.list-new-product{min-height: 280px;}
	.title-product{
		margin-bottom: 15px;
	}
	.buil-product {
	max-height: 79px;
}
.btn.prev {
	position: absolute;
	top: 36%;
	left: -4.5%;
}
.btn.next {
	position: absolute;
	top: 36%;
	right: -4.5%;
}
.btn.prev1 {
	top: 31%;
	left: -4.5%;
}
.btn.next1 {
	top: 31%;
	right: -4.5%;
}

}
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 700px) {
	.list-new-product{min-height: 305px;}
	.title-product{
		margin-bottom: 15px;
	}
	.buil-product {
	max-height: 79px;
}
}
 
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {

}
 
/* Dành cho màn hình desktop */
@media all and (min-width: 1270px) {
.list-new-product{min-height: 184px;}
.container{max-width: 1014px; margin: auto;background: white;}
.buil-product{max-height: 124px;}
.list-duan{
	/*max-width: 930px;*/
	margin:auto;
	/*padding:0 3%;*/
	margin:0 3%;
}
.btn.prev {
	top: 47%;
	left: -4.5%;
}
.btn.next {
	top: 47%;
	right: -4.5%;
}
.list-logo{
	/*max-width: 930px;*/
	margin:auto;
	/*padding:0 3%;*/
	margin:0 3%;
}
.btn.prev1 {
	top: 24%;
	left: -4.5%;
}
.btn.next1 {
	top: 24%;
	right: -4.5%;
}
.padding-24{
	padding:0px 10px 10px 10px;
}
.tbl{
	padding-left: 4%;
}
}
@media (min-width: 1024px) and (max-width: 1279px) {
	.list-new-product{min-height: 170px;}
}
@media (min-width: 800px) and (max-width: 1023px) {
	.list-new-product{min-height: 324px;}
}

@media all and (max-width: 323px) {
	.slogan{
	max-width: 233px;
}
.logo{
	max-width: 45px;
}
}
