/* Dành cho điện thoại */
@media all and (min-width: 320px) {}
 
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
	.list-new-product{height: 343px;}
	.title-product{
		margin-bottom: 15px;
	}
}
 
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 1024px) {}
 
/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
.list-new-product{height: 177px;}
.row{max-width: 1014px; margin: auto;background: white;}
.buil-product{height: 130px;}

}