.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 100%;
    float: left;
}
@media (min-width: 500px) {
    .col-sm-5ths {
        width: 100%;
        float: left;
    }
}
@media (min-width: 501px) {
    .col-md-5ths {
        width: 50%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 17%;
        float: left;
        margin:10px;
    }
}

@media (max-width: 992px) {
  .icon{
    display: none;
  }
  .clear{
    margin-top: 30px;
  }
}
