html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: OpenSans;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {font-size:13px; font-family:OpenSans, Arial, Helvetica, sans-serif; line-height:1.4;}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:hover,
a:focus {text-decoration: none;}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}
.container{
  max-width: 1140px;
  /*border: 1px solid red;*/
}
/* ---------------------------------------------------------------------------- */
/* ----------------------------------Header////-------------------------------- */
/* ---------------------------------------------------------------------------- */
header{
    margin:30px 0;
    text-transform: uppercase;
}
.text-policy span{
  font-weight: 700;
}
.text-policy{
  font-weight: 300;
}
.hotline {
  text-align: left;
  white-space: nowrap;
}
.hotline .icon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: inline-block;
  float: left;
  background: #c00006;
  line-height: 47px;
  text-align: center;
  margin-right: 10px;
}
.hotline p {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
}
.hotline span{
  font-weight: bold;
  color: #c00006;
  font-size: 16px;
  margin-right:50px;
}
.logo img{
  max-width: 90%;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Menu---------------------------------- */
/* ---------------------------------------------------------------------------- */
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.menu .navbar .nav li a {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  border: none;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.menu .navbar-default {
  background-color: black;
  border-color: none;
}
.menu .fa-home{
  font-size: 19px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  /* color: #555; */
  background-color: #c00006;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #c00006;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: white;
  background-color: #c00006;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #3B3B3B;
  background-image: none;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-default {
  color: white;
  background-color: #AAAAAA;
  border-color: #AAAAAA;
  border-radius: 0px;
}
.navbar-collapse {
  padding-right: 0px;
   padding-left: 0px; 
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 0px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-default {
  border-color: black;
}
.navbar {
  border-radius: 0px;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Slider ---------------------------------- */
/* ---------------------------------------------------------------------------- */
.slider{
  position: relative;
}
.left-slider{
  position: absolute;
  top:50%;
  margin-left: 30px;
}
.right-slider{
  position: absolute;
  top:50%;
  right: 30px;
}

.left-slider p {
  border: 2px solid black;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  color: black;
}
.left-slider p:hover{
  background: #c00006;
}
.left-slider .fa-angle-left{
  margin-right: 16px;
  /*font-size: 30px;*/
}
.left-slider span{
  display: inline-block;
  color: #585858;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 114%;
  left: 98px;
}
.right-slider p {
  border: 2px solid black;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  color: black;
}
.right-slider span{
  display: inline-block;
  color: #585858;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 114%;
  margin-left: 40%;
}
.right-slider p:hover{
  background: #c00006;
}
.right-slider .fa-angle-right{
  margin-left: 16px;
}
.an{
  background: #c00006;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Bill---------------------------------- */
/* ---------------------------------------------------------------------------- */
.bill {
  margin: 0 -15px;
  color: white;
}
.bill .media-body{
  font-weight: 100;
}
.bill .media-heading{
  text-transform: uppercase;
  font-weight: 700;
}
.bill-box{
  background: #BC4C50;
  height:110px;
  padding: 20px 20px;
  /*margin:20px 20px;*/
  margin:25px 0 0 0;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Heading---------------------------------- */
/* ---------------------------------------------------------------------------- */
.heading {
  text-align: center;
  background: url(../images/heading-bg.gif) center no-repeat;
  font-size: 14px;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #838383;
  clear: both;
  margin-bottom: 30px;
  margin-top: 50px;
}
.heading h2{
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  font-size:18px;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Product---------------------------------- */
/* ---------------------------------------------------------------------------- */
.list-product{
  margin:0 -4px;
}
.product{
  margin:4px;
}
.product:hover img {
    box-shadow: 0px 5px 5px #989797;
    -ms-transform: translate(0px,-3px);
    -webkit-transform: translate(0px,-3px);
    transform: translate(0px,-3px);
}
.product:hover img {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Logo---------------------------------- */
/* ---------------------------------------------------------------------------- */
.logo-product{
  margin:0 -15px;
}
.logo-product li {
  float: left;
  width: 25%;
  padding: 0px;
  border: 1px solid #e0e0e0;
  line-height: 143px;
  height: 120px;
  text-align: center;
  /* margin-left: -1px; */
  margin-top: -1px;
}
.logo-product li img{
  /*width: 100%;*/
}
.logo-product li img:hover {
    -ms-transform: translate(0px,-5px);
  -webkit-transform: translate(0px,-5px);
  transform: translate(0px,-5px);
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------more_bran---------------------------------- */
/* ---------------------------------------------------------------------------- */
.more_brand {
  display: block;
  margin: auto;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
}
/* ---------------------------------------------------------------------------- */
/* ---------------------------------Mail-------------------------------- */
/* ---------------------------------------------------------------------------- */
.newsletter {
  background: url(../images/newsletter-border.gif) top repeat-x;
  padding: 50px 0;
}
.newsletter-heading {
  width: 50%;
  float: left;
}
.newsletter-input {
  width: 50%;
  float: right;
  position: relative;
}
#content img {
  max-width: 100%;
  height: auto !important;
}
.newsletter-heading img {
  float: left;
  margin-right: 20px;
}
.newsletter-heading h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.newsletter-heading p {
  font-size: 14px;
  margin: 0 0 10px;
}
/* ---------------------------------------------------------------------------- */
/* ---------------------------------Send Mail-------------------------------- */
/* ---------------------------------------------------------------------------- */
#subscribe_email {
  height: 55px;
  width: 70%;
  background: #f5f5f5;
  border: none;
}
/*.newsletter-input {
  background: #CE2121;
}*/
.newsletter-input .submit_input {
  background: #c00006;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  float: right;
  height: 55px;
  line-height: 55px;
  width: 30%;
  text-align: center;
}
.newsletter-input .submit_input:hover{
  background: red;
}
.newsletter-input .text_input {
  background: #e5e5e5;
  width: 70%;
  border: 0;
  font-size: 16px;
  height: 55px;
  line-height: 55px;
  padding: 0 20px;
  float: left;
}
/* ---------------------------------------------------------------------------- */
/* ------------------------------------chitet---------------------------------- */
/* ---------------------------------------------------------------------------- */
.shop-info{
  padding:0 5px;
  padding:0 5px;
}
#bottom {
  background: #f2f2f2;
  padding: 40px 0;
}
#bottom .facebook-box {
  float: right;
  width: 340px;
}
#bottom .shop-info h2 {
  font-size: 55px;
  font-weight: 300;
  letter-spacing: 15px;
  margin-top: 0;
}
#bottom .shop-info ul {
  padding: 0;
  margin: 10px 0;
  list-style: none;
}
#bottom .shop-info ul li {
  margin-bottom: 5px;
  font-size: 14px;
}
#bottom .shop-info ul li span {
  font-weight: bold;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------footer-------------------------------- */
/* ---------------------------------------------------------------------------- */
#bottom_footer {
  background: #000000;
  padding: 40px 0;
  color: #4f4f4f;
  font-size: 11px;
}
#bottom_footer .social_links {
  width: 30%;
  float: left;
}
#bottom_footer {
  color: #4f4f4f;
  font-size: 11px;
}
#bottom_footer .social_links h3 {
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 0;
}
#bottom_footer .social_links li {
  display: inline-block;
  float: left;
  margin-bottom: 0px;
}
#bottom_footer .social_links li a {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-right: 10px;
}
#bottom_footer .fa{
color: #2E2E2E;
}

/************************************************************
*************************Footer******************************
*************************************************************/
.footer1 {
    background: #2E2E2E repeat scroll left top;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;/*  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #003;*/
}



.title-widget {
  color: #898989;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
  position: relative;
    text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
  width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

#social:hover {
          -webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
      }
      #social {
        -webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
      }           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
      .social-fb:hover {
        color: #3B5998;
      }
      .social-tw:hover {
        color: #4099FF;
      }
      .social-gp:hover {
        color: #d34836;
      }
      .social-em:hover {
        color: #f39c12;
      }
      .nomargin { margin:0px; padding:0px;}
.widget_nav_menu a{
  color: white;
  font-size: 14px;
  text-transform: none;
  font-weight: 300;
}


/************************************************************
*************************SAN PHAM HTML******************************
*************************************************************/
.colum-left{
  width: 16%;
  /*border: 1px solid red;*/
  float: left;
  margin-right: 15px;
  /*display: none;*/
}
.colum-right{
  width: 82%;
  /*border: 1px solid red;*/
  float: left;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------danhmuc-------------------------------- */
/* ---------------------------------------------------------------------------- */
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.list-group-item.active {
  border-left: 4px solid #C00006;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: black;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------danhmuc-scroll-------------------------------- */
/* ---------------------------------------------------------------------------- */
.danhmuc-scroll{
    height: 240px;
    overflow: auto;
}
#myCheck{
  margin-right: 3px;
}
.danhsach-active{
  font-size: 13px;
  font-weight: 700;
  background: #FAFAFA;
  border: none;
}
.danhmuc img{
  float: left;
  margin-right: 10px;
  width: 40px;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------title-right-------------------------------- */
/* ---------------------------------------------------------------------------- */
.title-right{
  width: 100%;
  background: #f5f5f5;
  display: inline-block;
}
.title-right li{
  float: left;
  padding:10px 3px;
  background: #f5f5f5;
}
.title-right li a{
  font-size: 12px;
  color: #717171;
}
.title-right li:nth-child(1){
  margin-left:10px;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------title-colum-------------------------------- */
/* ---------------------------------------------------------------------------- */
.title-colum{
  font-size: 36px;
  font-weight: 700;
  color: #333333;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------giay-tay-------------------------------- */
/* ---------------------------------------------------------------------------- */
.giay-tay{
  margin:auto;
  width: 70%;
}

.category-info img{
  max-width: 100%;
  margin:30px 0;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------thumbnail-------------------------------- */
/* ---------------------------------------------------------------------------- */
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}
.thumbnail img:hover {
  -ms-transform: translate(0px,-10px);
  -webkit-transform: translate(0px,-10px);
  transform: translate(0px,-10px);
}
.thumbnail img {
  border: 0;
  width: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.3s;
  transition: all 0.2s;
}
.thumbnail:hover .caption h4{
  color: #000;
  font-weight: bold;
}
.thumbnail p {
  font-size: 16px;
  text-align: left;
  color: #c42a2f;
  font-weight: bold;
}
.caption{
    height: 100px;
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------XOAAAAAA-------------------------------- */
/* ---------------------------------------------------------------------------- */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
/* ---------------------------------------------------------------------------- */
/* ----------------------------------product-features----------------------------------- */
/* ---------------------------------------------------------------------------- */
.product-features.product-page {
  padding: 20px 0px;
  padding-right: 15px;
  margin-top: 0px;
}
.product-features {
  margin: 0px;
  padding: 0;
  margin-top: 20px;
  list-style: none;
  background: #fff;
  display: inline-block;
}
.product-features.product-page li {
  width: 33.33%;
}
.product-features li {
  width: 100%;
  float: left;
  margin-bottom: 0px;
  font-size: 0;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-top: -1px;
}
#content img {
  max-width: 100%;
  height: auto !important;
}
.product-features li img {
  float: left;
  margin-right: 10px;
  width: 40px;
}
img {
  vertical-align: middle;
}
.guide_buy {
  background: #f5f5f5;
  padding: 20px;
  margin: 0;
  list-style: none;
}
.guide_buy h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.guide_buy li a {
  color: #000;
}
.guide_buy li {
  margin-bottom: 8px;
  font-size: 14px;
}
.product-features.product-page li p {
  padding-top: 3px;
  font-size: 13px;
  line-height: 1.8;
  text-transform: uppercase;
}
/* ---------------------------------------------------------------------------- */
/* ----------------------------------product-features----------------------------------- */
/* ---------------------------------------------------------------------------- */
/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.tab-content h2 {
  font-weight: bold;
  font-size: 15px;
}
.attribute {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  margin-bottom: 20px;
}
.title-it{
  width: 100%;
  background: #f5f5f5;
  padding:10px 10px;
  font-weight: bold;
}
.content {
  padding: 10px;
  overflow: auto;
  margin-bottom: 20px;
  border: 1px solid #EEEEEE;
}
.aaa{
  /*display: none;*/
}
/* ---------------------------------------------------------------------------- */
/* ----------------------------------xemsanpham----------------------------------- */
/* ---------------------------------------------------------------------------- */
.xemsanpham{
  width: 18%;
  float: left;
  margin-left: 18px;
}
.title-sanpham{
  margin-bottom: 50px;
  border-bottom: 3px solid #000;
  height: 45px;
}
.title-sanpham span{
  font-size: 18px;
  background: red;
  width: 100%;
  /*padding: 20px 20px;*/
  height: 50px;
  text-transform: uppercase;
padding: 9px 10px;
line-height: 45px;

}
#sanphammoi{
  border: 1px solid #ececec;
  margin-top: 30px;
}
/* ---------------------------------------------------------------------------- */
/* ----------------------------------right----------------------------------- */
/* ---------------------------------------------------------------------------- */
.right-t{
  width:33.2%;
  min-height: 600px;
  /*border: 1px solid red;*/
  text-align: center;
  padding:18px;
  box-shadow: 0px 5px 5px #D2D2D2;
  float: right;
  margin-bottom: 20px;
}
.right-t li{
  margin-bottom: 20px;
}
.right-t span{
  color: #DD242B;
  font-size: 30px;
  font-weight: 700;
}
.right-t h2{
  color: #333333;
  font-size: 18px;
  text-transform: uppercase;
}
.right-t li:nth-child(4){
  width: 100%;
  height: 50px;
  background: #C10007;
  border-bottom: 4px solid #904043;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  font-size:30px;
}
.right-t li:nth-child(4) > a{
  color: white;
}
.right-t li:nth-child(4):hover{
  background: red;
}
.right-t li:last-child{
  font-size: 16px;
  color: #333333;
}
.right-t li:last-child span{
  font-size: 20px;
  font-weight: 700;
}
.carousel-sele{
  border: none;
}
.right-t img{
  width: 100%;
}
/************************************************************
*************************TRA HANG HTML******************************
*************************************************************/
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb a {
  color: #717171;
  position: relative;
  margin-right: 15px;
  font-size: 12px;
}
.breadcrumb a::after {
  content: "/";
  position: absolute;
  color: #717171;
  right: -17px;
  top: 0;
}
.buttons {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  overflow: auto;
  padding: 6px;
  margin-bottom: 20px;
}
a.button {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px 6px 12px;
}
a.button, input.button {
  cursor: pointer;
  color: #FFFFFF;
  line-height: 12px;
  font-size: 12px;
  font-weight: bold;
  background: url('../images/sanpham/button.png') repeat-x;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -khtml-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 2px 2px #DDDDDD;
  -moz-box-shadow: 0px 2px 2px #DDDDDD;
  box-shadow: 0px 2px 2px #DDDDDD;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: red;
}
/*.border-footer{
  border: 3px solid white;
}*/