@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* ==========================================================================
Global Styles
========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #0d0d0d;
  overflow-x: hidden;
}

/* ==========================================================================
Typography
========================================================================== */
h1 {
  font-size: 72px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.16em;
}

h2 {
  font-size: 36px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 26px;
  color: #000;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  color: #000;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
li{
  list-style: none;
}
.container{
  max-width: 1140px;
}
    /* ==========================================================================
Media Queries Style
========================================================================== */
/*menu-top*/
.menu-top{
  width: 100%;
  /*height: 140px;*/
  /*padding:30px 0;*/
}
.cate-dropdown.hidden-xs {
  width: 21%;
  border: none;
  border-left: 1px solid #cccccc;
}
#search {
  width: 65%;
  border: none;
}
.search-box {
  border: 1px solid #eeeeee;
}
#submit-button{
  background: #1d89c6;
}
#submit-button {
  background: #1d89c6;
  border: none;
  /* padding: 10px 10px; */
  color: #fff;
  /* margin-left: 4px; */
  /* width: 10%; */
  width: 12%;
  height: 34px;
  float: right;
}
.search-box input{
  padding-left: 15px;
}
.search-header {
  /*margin-top: 10%;*/
  padding-top: 35px;
}
.hotline-header {
  /*margin-top: 10%;*/
  padding-top: 35px;
}
.hotline-header img {
  float: right;
}
.logo-header img{
  width: 250px;
  height: auto;
}

#search_mini_form {
  height: 33px;
  line-height: 30px;
}
/*Menu-bootom*/
.navbar-default {
  background-color: #0378bb;
  border-color: #0378bb;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #0378bb;
}

    /* ==========================================================================
Slider
========================================================================== */
#owl-demo .item{
      margin: 3px;
  }
  #owl-demo .item img{
      display: block;
      width: 100%;
      height: auto;
  }

    /* ==========================================================================
Textcontent
========================================================================== */  
.text-content{
  background: url(../img/bg_text.png) no-repeat scroll 50% 97%;
}
.text-content h5{
  font-size: 30px;
  text-transform: uppercase;
  color: #027dc2;
  padding-top: 40px;
}
.text-content p{
  font-size: 13px;
  color: #333333;
  padding: 40px 10%;
}
    /* ==========================================================================
Box
========================================================================== */ 
.top-box{
  margin-bottom: 30px;
}
.top-box p {
  position: absolute;
  top: 10px;
  left: 97px;
}
.top-box a{
  font-size: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.top-box img{
  width: 100%;
}
.bottom-box a{
  color: #333333;
  font-size: 13px;
}
.bottom-box img{
  width: 100%;
  margin-bottom: 10px;
}
.text-bottom-box .fa-circle{
  font-size: 6px;
  color: #1f84be;
  margin-right: 10px;
}
.text-bottom-box li{
  border-bottom: 1px dotted #333333;
}
.text-bottom-box{
  margin-left: -35px;
}
.media-heading{
  font-size: 13px;
  color: #1f84be;
  font-weight: bold;
}
.media-body{
  font-size: 11px;
  color: #333333;
}
.media{
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
}
.box-hotro-bottom span{
  color: #ec2028;
}
.box-hotro-bottom .fa-circle{
  font-size: 6px;
  color: #1e87c3;
  padding-right: 5px;
}
.box-hotro-bottom .fa-phone{
  font-size: 28px;
  color: #ec2028;
  margin-right: 8px;
}
.box-hotro-bottom p{
  border-bottom: 1px dotted #f2f2f2;
  padding-bottom: 15px;
}
.box-hotro-bottom h5{
  margin-bottom: 30px;
}
    /* ==========================================================================
Footer
========================================================================== */ 
.footer-top{
  background: #1e89c5;
  padding: 35px 0;
}
.footer-top h2{
  font-size: 16px;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: bold;
}
.footer-top p{
  font-size: 13px;
  color: #fff !important;
}
.footer-botom{
  background: #217db4;
  height: 50px;
  width: 100%;
  color: #fff;
  line-height: 50px;
}
.footer-botom li{
  float: left;
  margin-right: 20px;
}
.footer-botom li:nth-child(1){
  margin-right: 100px;
}
.footer-botom a{
  color: #fff;
}
.footer-botom .fa{
  width: 35px;
height: 35px;
border: 1px solid #fff;
border-radius: 50%;
text-align: center;
line-height: 35px;
}
    /* ==========================================================================
Sanpham
========================================================================== */ 
.sanpham{
  position: relative;
  margin: 30px 0;
}
.sanpham p{
  position: absolute;
  bottom: 30px;
  bottom: 4%;
  left: 30%;
}
.sanpham a{
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
    /* ==========================================================================
Chitiet
========================================================================== */ 

.chitiet-left h4{
  font-size: 16px;
  color: #da251c;
  font-weight: bold;
  border-bottom: 1px dotted #ececec;
  padding-bottom: 20px;
}
.chitiet-left h3{
  border-bottom: 1px dotted #ececec;
  padding-bottom: 20px;
}
.chitiet-left span{
  color:#0378bb;
}
.chitiet-left p{
  font-size: 13px;
}
