@import 'https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,400i,500,500i,700,700i&subset=vietnamese';
/* ==========================================================================
Global Styles
========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #cccccc;
  overflow-x: hidden;
}
li{
  list-style: none;
}

    /* ==========================================================================
#1 Header 
========================================================================== */
/* Serch*/

.shop-section {
  background-color: #fff;
  padding: 30px 0;
  position: relative;
}
.top-header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0 10px;
  display: inline-block;
  width: 100%;
}
.info-top ul {
  margin: 0;
  padding: 0;
}
.info-top ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.info-top ul li i {
  margin-right: 5px;
}
.popover-shorty {
  display: inline-block;
  margin-right: 5px;
  position: relative;
}
.popover-shorty .popover:after {
  content: "";
  display: block;
  height: 34px;
  left: 0;
  position: absolute;
  top: -20px;
  width: 100%;
}
.popover-shorty > a {
  border: 1px solid #ddd;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  padding: 7px;
  text-align: center;
  width: 40px;
  position: relative;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.popover-shorty > a:hover {
  background: #000;
  color: #fff;
}
.popover-shorty:hover .popover {
  display: block;
}
.popover-cart {
  border-top: 2px solid #000;
  left: -140px;
  min-width: 330px;
  padding: 0;
}
.popover-cart .entry-thumbnail {
  width: 200px;
}
.popover-cart .media img {
  width: 100%;
  height: auto;
}
.popover-shorty .media {
  margin-top: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.popover-shorty .media:hover {
  background: none repeat scroll 0 0 #f7f7f7;
}
.popover-shorty .media:hover .price-reduction:after {
  border-right: 9px solid #aaaaaa;
  border-bottom: 14px solid #f7f7f7;
  border-top: 14px solid #f7f7f7;
  border-left: 9px solid #f7f7f7;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
}
.popover-shorty .media img {
  border: 1px solid #ddd;
  width: 95px;
}
.popover-shorty .media-body {
  display: inline-block;
  padding-left: 15px;
  width: 100%;
  position: relative;
}
.qty-cart {
  font-family: 'latoitalic';
  font-size: 13px;
  color: #b8b8b8;
  padding-top: 10px;
}
.popover-shorty .entry-title {
  text-transform: uppercase;
}
.del-cart-item {
  border: 1px solid #ddd;
  height: 25px;
  padding: 2px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 25px;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.del-cart-item:hover {
  background: #000;
  color: #fff;
}
.popover-shorty .panel-footer {
  background: #fff;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.popover-shorty .panel-footer .btn {
  margin-right: 10px;
  width: 40%;
}
.popover-shorty .btn-cart {
  background: #000;
  color: #fff;
}
.top-search {
  float: right;
  width: 375px;
}
.top-search .form-control {
  height: auto;
  padding: 9px 15px;
}
.top-search .btn {
  padding: 9px 15px;
}
.top-search .dropdown-menu {
  background: #fff;
  border: 1px solid #ddd;
}
.popover-shorty > a .qty-top-cart-active {
  background: #ffc908;
  border-radius: 100px;
  color: #fff;
  font-size: 11px;
  height: 20px;
  line-height: 22px;
  position: absolute;
  right: -8px;
  top: -6px;
  width: 20px;
}

.yamm.navbar-default {
  background-color: #e21712;
  border: none;
}
.yamm.navbar-default li.active {
  background-color: #e21712;
}
.yamm.navbar-default li.active {
}
.dropdown-menu {
  background: #222222;
}
.yamm.navbar-default .navbar-nav > li > a {
  font-family: 'latobold';
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out 0s;
}
.yamm.navbar-default .navbar-nav > li:hover > a {
  box-shadow: 1px 0 10px 6px #cd1410 inset;
}
html .navbar-default .navbar-nav > .active > a, html .navbar-default .navbar-nav > .active > a:hover, html .navbar-default .navbar-nav > .active > a:focus {
  box-shadow: 1px 0 10px 6px #cd1410 inset;
}
.dropdown-menu .thumbnail {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0px;
  overflow: hidden;
  position: relative;
}
.dropdown-menu .thumbnail img {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}
.dropdown-menu .thumbnail:hover img {
}
.dropdown-menu .thumbnail:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none
}
.dropdown-menu .thumbnail:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}
.yamm .dropdown-menu li a, .yamm .dropdown-menu li {
  font-family: 'latolight';
  color: #cccccc;
  font-size: 13px;
  position: relative;
}
.navbar-nav .yamm-classic li a {
  margin-bottom: 0 !important;
  padding: 10px 20px !important;
  text-transform: uppercase;
}
.yamm-classic .dropdown-menu {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.yamm-classic .dropdown-menu li {
  margin-bottom: 0 !important;
  position: relative;
}
.yamm .dropdown-menu li {
  margin-bottom: 5px;
  position: relative;
}
.yamm .dropdown-menu li li {
  margin-left: 20px;
}
.yamm .dropdown-menu li li:before {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  content: '';
  border: 5px solid #fff;
  border-bottom-color: transparent  !important;
  border-left-color: transparent !important;
  left: -20px;
  position: absolute;
  top: 5px;
}
.yamm .dropdown-menu li a {
  padding: 5px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.yamm .dropdown-menu li a:hover {
  background-color: #ffc908;
  text-decoration: none !important;
  color: #000;
}
.yamm .dropdown-menu li:hover:before {
  border-color: #ffc908;
}
.yamm .dropdown-menu li:hover > a {
  text-decoration: underline;
}
.yamm .dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.yamm .dropdown-menu h5 {
  font-family: 'oswaldbook';
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #444444;
}
.yamm .dropdown-menu h5:after {
  border-bottom: 1px solid #444444;
  bottom: -3px;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  width: 100%;
}
.yamm .dropdown-menu h5:before {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  content: '';
  border: 4px solid #e21712;
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
  left: -12px;
  position: absolute;
  top: -12px;
}
.yamm .dropdown-menu h5:hover:before {
  border-color: #ffc908;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}

.yamm  .navbar-collapse{
  margin-left:0;
  padding-left:0 !important;
}

.navbar{
  margin-bottom: 0px;
}