
/*
Free Bootstrap Themes : vulongepu@gmail.com
*/

/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('http://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
body {font-family: 'Ek Mukta', sans-serif;color: #666;background-color: #fff;font-size: 16px;line-height: 1.6em;font-weight: 400;}
html, body {width:100%; padding:0; margin:0;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

h1 {font-size: 38px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 20px;}

h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif;font-weight: 600;color: #111;}

p {margin: 0 0 20px;}

a {
   color: #DE5781;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

a:hover,
a:focus {text-decoration: none;}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
 
/* --Line-- */
hr.line { margin: 15px auto; padding: 0; max-width: 90px;border: 0; border-top: solid 5px #ddd;text-align: center;}

/* --Page-- */
body.index-page {}
body.sub-page {padding-top: 30px;background-color: #F9F9F9;}
body.sub-page .logo {margin: 110px 0 80px;background: url(../images/bg.jpg) fixed; padding: 30px 0 50px;}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Container-fluid////-------------------------------- */
/* ---------------------------------------------------------------------------- */
.slider{
	background: #FF1493;
	height: auto;
	position: relative;
  overflow: hidden;
  max-width: 98%;
  float: right;
}
.wowslider-container1{
  position: absolute;
}
/* Fuck */
.fuck{
  position: relative;
}
/* ---------------------------------------------------------------------------- */
/* ---------------------------------Menu-------------------------------- */
/* ---------------------------------------------------------------------------- */
.menu{
    height: 100%;
  float: left;
  position: absolute;
  z-index: 1000;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   background: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
   background: -moz-linear-gradient(left, rgba(96,96,96,0.49) 0%, rgba(98,98,98,0.49) 1%, rgba(255,255,255,0) 100%);
   border-left: 5px solid #990002;

}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background: -moz-linear-gradient(left, rgba(96,96,96,0.49) 0%, rgba(98,98,98,0.49) 1%, rgba(255,255,255,0) 100%);
   border-left: 5px solid #990002;
}
.navbar {
  border-radius: px;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Arial;
}
  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
 
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Animation---------------------------------- */
/* ---------------------------------------------------------------------------- */
.animation{
    width: 230px;
    height: 230px;
    position: absolute  ;
    z-index: 999;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: example;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(1,0,1,0,1);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0% {
    left: 100px;
    top: 600px;
}
2% {
    left: 100px;
    top: 350px;
}
10% {
    left: 100px;
    top: 380px;
}
12% {
    left: 100px;
    top: 320px;
}
15% {
    left: 100px;
    top: 380px;
}
17% {
    left: 100px;
    top: 370px;
}
20% {
    left: 100px;
    top: 350px;
}
25% {
    left: 100px;
    top: 360px;
}
30% {
    left: 100px;
    top: 320px;
}
35% {
    left: 100px;
    top: 300px;
}
40% {
    left: 0px;
    top: 600px;
}
/*100% {
    left: 0px;
    top: 700px;
     0% {
    left: 100px;
    top: 700px;*/
42% {
    left: 1000px;
    top: 450px;
}
47% {
    left: 1000px;
    top: 490px;
}
50% {
    left: 1000px;
    top: 410px;
}
55% {
    left: 1000px;
    top: 490px;
}
57% {
    left: 1000px;
    top: 460px;
}
60% {
    left: 1000px;
    top: 430px;
}
62% {
    left: 1000px;
    top: 450px;
}
64% {
    left: 1000px;
    top: 440px;
}
66% {
    left: 1000px;
    top: 400px;
}
67% {
    left: 0px;
    top: 700px;
}
70% {
    left: 0px;
    top: 700px;
}
/*1000% {
    left: 0px;
    top: 700px;
     0% {
    left: 100px;
    top: 700px;*/
72% {
    left: 100px;
    top: 150px;
}
77% {
    left: 100px;
    top: 190px;
}
80% {
    left: 100px;
    top: 110px;
}
85% {
    left: 100px;
    top: 190px;
}
87% {
    left: 100px;
    top: 160px;
}
90% {
    left: 100px;
    top: 130px;
}
92% {
    left: 100px;
    top: 150px;
}
94% {
    left: 100px;
    top: 140px;
}
96% {
    left: 100px;
    top: 200px;
}
97% {
    left: 0px;
    top: 220px;
}
100% {
    left: 0px;
    top: 300px;
}
}
/* ---------------------------------------------------------------------------- */
/* ---------------------------------Animation2-------------------------------- */
/* ---------------------------------------------------------------------------- */
.animation2{
    width: 190px;
    height: 190px;
    position: absolute ;
    z-index: 999;
    /* Chrome, Safari, Opera */
    -webkit-animation-name: example2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: example2;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(1,0,1,0,1);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example2 {
    0%   {left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example2 {
    0% {
    left: 100px;
    top: 700px;
}
2% {
    left: 100px;
    top: 450px;
}
10% {
    left: 100px;
    top: 490px;
}
12% {
    left: 100px;
    top: 410px;
}
15% {
    left: 100px;
    top: 490px;
}
17% {
    left: 100px;
    top: 460px;
}
20% {
    left: 100px;
    top: 430px;
}
25% {
    left: 100px;
    top: 450px;
}
30% {
    left: 100px;
    top: 440px;
}
35% {
    left: 100px;
    top: 400px;
}
40% {
    left: 0px;
    top: 700px;
}
/*100% {
    left: 0px;
    top: 700px;
     0% {
    left: 100px;
    top: 700px;*/
42% {
    left: 1000px;
    top: 550px;
}
47% {
    left: 1000px;
    top: 590px;
}
50% {
    left: 1000px;
    top: 610px;
}
55% {
    left: 1000px;
    top: 590px;
}
57% {
    left: 1000px;
    top: 560px;
}
60% {
    left: 1000px;
    top: 530px;
}
62% {
    left: 1000px;
    top: 550px;
}
64% {
    left: 1000px;
    top: 540px;
}
66% {
    left: 1000px;
    top: 500px;
}
77% {
    left: 0px;
    top: 600px;
}
70% {
    left: 0px;
    top: 700px;
}
/*1000% {
    left: 0px;
    top: 700px;
     0% {
    left: 100px;
    top: 700px;*/
72% {
    left: 100px;
    top: 150px;
}
77% {
    left: 100px;
    top: 290px;
}
80% {
    left: 100px;
    top: 310px;
}
85% {
    left: 100px;
    top: 290px;
}
87% {
    left: 100px;
    top: 260px;
}
90% {
    left: 100px;
    top: 230px;
}
92% {
    left: 100px;
    top: 250px;
}
94% {
    left: 100px;
    top: 240px;
}
96% {
    left: 100px;
    top: 300px;
}
97% {
    left: 0px;
    top: 320px;
}
100% {
    left: 0px;
    top: 400px;
}
}
/* ---------------------------------------------------------------------------- */
/* ---------------------------------Slider-------------------------------- */
/* ---------------------------------------------------------------------------- */
.ws_bullets span{
  background: none;
}
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Footer---------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {
    position: relative;
    z-index: 2000;
    right: 0;
    bottom: 0;
    width: 70%;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 40%, rgba(255,255,255,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0.65)), color-stop(100%,rgba(255,255,255,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 40%,rgba(255,255,255,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 40%,rgba(255,255,255,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 40%,rgba(255,255,255,0.7) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 40%,rgba(255,255,255,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b3ffffff',GradientType=1 ); /* IE6-9 */
}

    footer .inner {
        padding: 15px;
        width: 100%;
    }

    footer .logo {
        float: right;
        width: 200px;
    }

    footer .info {
        float: right;
        text-align: right;
    }

        footer .info .address p {
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: 1.5;
        }

        footer .info .left {
            float: right;
        }

        footer .info .right {
            float: right;
        }

        footer .info .social {
        }

            footer .info .social li a {
                display: inline-block;
                margin-top: 5px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                -ms-border-radius: 50%;
                -webkit-border-radius: 50%;
                overflow: hidden;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color: #fff;
                background: #A7A7A7;
                box-sizing: content-box;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                -ms-box-sizing: content-box;
                -o-box-sizing: content-box;
            }

                footer .info .social li a i {
                    font-size: inherit;
                }

                footer .info .social li a:hover {
                    background: #9A0002;
                }

#desktop-device footer {
    /*z-index: 1100;*/
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
