body {
    font-family: 'uvn_nhanregular';
    font-size: 16px;
    color: #000;
}

#desktop-device {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#mainContent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slideshow {
    position: relative;
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 40%, rgba(255,255,255,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0.65)), color-stop(100%,rgba(255,255,255,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 40%,rgba(255,255,255,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 40%,rgba(255,255,255,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 40%,rgba(255,255,255,0.7) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 40%,rgba(255,255,255,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b3ffffff',GradientType=1 ); /* IE6-9 */
}

    footer .inner {
        padding: 15px;
        width: 100%;
    }

    footer .logo {
        float: right;
        width: 200px;
    }

    footer .info {
        float: right;
        text-align: right;
    }

        footer .info .address p {
            margin-top: 0px;
            margin-bottom: 0px;
            line-height: 1.5;
        }

        footer .info .left {
            float: right;
        }

        footer .info .right {
            float: right;
        }

        footer .info .social {
        }

            footer .info .social li a {
                display: inline-block;
                margin-top: 5px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                -ms-border-radius: 50%;
                -webkit-border-radius: 50%;
                overflow: hidden;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color: #fff;
                background: #A7A7A7;
                box-sizing: content-box;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                -ms-box-sizing: content-box;
                -o-box-sizing: content-box;
            }

                footer .info .social li a i {
                    font-size: inherit;
                }

                footer .info .social li a:hover {
                    background: #9A0002;
                }

#desktop-device footer {
    z-index: 10;
}

.animate.ad0 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
}

.animate2.ad1 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
}

/*#main-content {
    padding-top: 15px;
}*/

.aboutPage {
    background: url(../images/bg/bg2.jpg) no-repeat fixed;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
}

    .aboutPage .headingTitle {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: #990002;
        margin-bottom: 15px;
        margin-top: 15px;
    }

.service {
    background: url(../images/bg/bg3.jpg) no-repeat fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
}

.news {
    background: url(../images/bg/bg1.jpg) no-repeat fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
}

.album, .training, .contact, .customer {
    background: url(../images/bg/bg1.jpg) no-repeat fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
}

.place {
    background: #C7CEE8 url(../images/bg/bg5.jpg) no-repeat scroll;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
}

.dress, .allpackage {
    background: url(../images/bg/bg4.jpg) no-repeat fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
}
/*==============sidebar================*/
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.close-menu {
    position: absolute;
    top: 0px;
    width: 40px;
    height: 40px;
    left: 0px;
    z-index: 50;
    display: none;
    //opacity: 0;
}

body.pml-open .close-menu {
    //display: block;
}


body #desktop-device {
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav.menu {
    position: fixed;
    z-index: 20;
    top: 0;
    font-size: 15px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    color: #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

    nav.menu .inner {
        position: relative;
        padding: 0;
        height: 100%;
        background: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        border-right: 1px solid #A7A7A7;
    }

.comTitle {
    //display: none;
    text-transform: uppercase;
    color: #990002;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    //right: 0;
    //bottom: 10px;
        right: 22px;
    bottom: 22px;
    /*-moz-transform: rotate(-90deg) translate(40px,10px);
    -webkit-transform: rotate(-90deg) translate(40px,10px);
    -o-transform: rotate(-90deg) translate(40px,10px);
    -ms-transform: rotate(-90deg)translate(40px,10px);
    transform: rotate(-90deg) translate(40px,10px);*/
}

body .sm-menu {
    position: absolute;
    height: 100%;
    right: -40px;
    top: 0;
    z-index: 5;
    width: 40px;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body.pml-open .sm-menu {
    right: 350px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav.menu.active {
    left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    nav.menu.active .sm-menu {
        right: 350px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

nav.push-menu-left {
    left: -300px;
}

body.pml-open nav.push-menu-left {
    left: 0;
}

body.pml-open #desktop-device {
    left: 300px;
}

body.pml-open .navbar-fixed-top {
    left: 300px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

body .navbar-fixed-top {
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

body.pml-open nav.push-menu-left #menu-toggle-wrapper {
    display: none;
}

#menu-toggle-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 11;
    display: block;
    background-color: transparent;
    border: none;
    //display: none;
}

#menu-toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    display: block;
    margin-left: -15px;
    width: 30px;
    height: 3px;
    background: #990002;
}

    #menu-toggle:after, #menu-toggle:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #990002;
        left: 0;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center;
    }

    #menu-toggle:before {
        top: -8px;
    }

    #menu-toggle:after {
        bottom: -8px;
    }

body.pml-open #menu-toggle-wrapper #menu-toggle {
    background: 0 0;
}

    body.pml-open #menu-toggle-wrapper #menu-toggle:after {
        -webkit-transform: rotate(-45deg) translate(2px,-8px);
        -moz-transform: rotate(-45deg) translate(3px,-8px);
        -ms-transform: rotate(-45deg) translate(3px,-8px);
        -o-transform: rotate(-45deg) translate(3px,-8px);
        transform: rotate(-45deg) translate(3px,-8px);
    }

    body.pml-open #menu-toggle-wrapper #menu-toggle:before {
        -webkit-transform: rotate(45deg) translate(4px,9px);
        -moz-transform: rotate(45deg) translate(3px,8px);
        -ms-transform: rotate(45deg) translate(3px,8px);
        -o-transform: rotate(45deg) translate(3px,8px);
        transform: rotate(45deg) translate(3px,8px);
    }

#menu-toggle, #menu-toggle:after, #menu-toggle:before {
    -webkit-transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
    -moz-transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
    -ms-transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
    -o-transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
    transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
}

#menu-toggle-wrapper:focus #menu-toggle:before, #menu-toggle-wrapper:hover #menu-toggle:before {
    top: -6px;
}

#menu-toggle-wrapper:focus #menu-toggle:after, #menu-toggle-wrapper:hover #menu-toggle:after {
    bottom: -6px;
}

body.pml-open #menu-toggle-wrapper:focus #menu-toggle:after, body.pml-open #menu-toggle-wrapper:hover #menu-toggle:after {
    bottom: -8px;
}

body.pml-open #menu-toggle-wrapper:focus #menu-toggle:before, body.pml-open #menu-toggle-wrapper:hover #menu-toggle:before {
    top: -8px;
}

.menu .logo {
    padding: 15px 20px 15px;
}

.text-intro {
    color: #000;
    font-family: 'uvn_kieubold';
}

.menu .social {
}

    .menu .social li a {
        font-size: 20px;
        display: block;
        width: 30px;
        position: relative;
        height: 30px;
        border: 1px solid transparent;
        text-align: center;
        line-height: 30px;
        font-weight: bold;
        color: #fff;
        background-color: transparent;
    }

    .menu .social li.facebook a {
        background: #204385 !important;
    }

    .menu .social li.youtube a {
        background: #9E0E09 !important;
    }

    .menu .social li.google a {
        background: #D3492C !important;
    }

    .menu .social li a:hover {
        background: #808080;
    }





/*=============================================*/
.mainMenu {
    list-style: none;
    padding-left: 0px;
}

    .mainMenu > li {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        .mainMenu > li > a {
            position: relative;
            display: block;
            padding: 8px 0 8px 30px;
            text-align: left;
            font-size: 14px;
            text-transform: uppercase;
            color: #000;
            border-bottom: 1px solid #ccc;
        }

            .mainMenu > li > a:before {
                position: absolute;
                width: 5px;
                height: 100%;
                background: #990002;
                content: "";
                left: 0;
                top: 0;
                opacity: 0;
            }

.subOpen {
    right: 10px;
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    overflow: hidden;
    top: 0;
    background: #990002;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: 5px;
    position: absolute;
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .subOpen:hover {
        background: #808080;
    }

    .subOpen .back {
        margin-top: 50px;
    }

.mainMenu > li:hover > a:before, .mainMenu > li.active > a:before {
    opacity: 1;
}

.mainMenu > li:hover > a, .mainMenu > li.active > a {
    background: -moz-linear-gradient(left, rgba(96,96,96,0.49) 0%, rgba(98,98,98,0.49) 1%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(96,96,96,0.49)), color-stop(1%,rgba(98,98,98,0.49)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(96,96,96,0.49) 0%,rgba(98,98,98,0.49) 1%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(96,96,96,0.49) 0%,rgba(98,98,98,0.49) 1%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(96,96,96,0.49) 0%,rgba(98,98,98,0.49) 1%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(96,96,96,0.49) 0%,rgba(98,98,98,0.49) 1%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d606060', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    color: #990002;
}

.mainMenu > li .sub-menu {
    position: absolute;
    left: -300px;
    list-style: none;
    top: 0;
    padding-left: 0;
    height: 100%;
    min-height: 560px;
    width: 300px;
    background: rgba(255, 255, 255, 1);
    z-index: 20;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mainMenu > li.open .sub-menu {
    left: 0;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mainMenu > li .sub-menu li {
    padding: 0 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mainMenu > li.open .sub-menu li:first-child a {
    background: -moz-linear-gradient(left, rgba(96,96,96,0.49) 0%, rgba(98,98,98,0.49) 1%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(96,96,96,0.49)), color-stop(1%,rgba(98,98,98,0.49)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(96,96,96,0.49) 0%,rgba(98,98,98,0.49) 1%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(96,96,96,0.49) 0%,rgba(98,98,98,0.49) 1%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(96,96,96,0.49) 0%,rgba(98,98,98,0.49) 1%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(96,96,96,0.49) 0%,rgba(98,98,98,0.49) 1%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d606060', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    color: #990002;
}

.mainMenu > li .sub-menu li:hover a {
    background: #ccc;
}

.sub-menu li:first-child {
    margin-top: 40px;
}

.mainMenu > li .sub-menu li a {
    display: block;
    font-size: 14px;
    padding: 10px 10px 10px 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
    color: #000;
}

.mainMenu > li .sub-menu li:last-child a, .mainMenu > li:last-child > a {
    border-bottom: none;
}

.mainMenu > li .sub-menu li a:before {
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: 'FontAwesome';
    content: "\f138";
    font-size: 13px;
    color: #990002;
}

.mainMenu > li .sub-menu li:first-child a:before {
    font-family: 'FontAwesome';
    content: "\f137";
}

.list-service {
    padding-left: 0px;
    list-style: none;
}


    .list-service .sections {
        padding: 10px 40px;
    }

    .list-service .pic {
        margin-bottom: 25px;
        margin-top: 40px;
    }

        .list-service .pic a {
            display: block;
            width: 100%;
            border: 2px solid #fff;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
        }

            .list-service .pic a:hover {
                border-width: 5px;
            }

    .list-service h2 {
        margin-top: 0px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.6;
    }

        .list-service h2 a {
            color: #000;
        }

            .list-service h2 a:hover {
                color: #990002;
            }
/*==================news list==========*/
.news-list {
    list-style: none;
    padding-left: 0px;
    position: relative;
}

    .news-list .item {
        margin: 5px;
        margin-bottom: 15px;
        width: 200px;
        float: left;
    }

        .news-list .item .pic {
            position: relative;
            display: block;
            overflow: hidden;
        }

        /*.news-list .item .pic:before {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0px;
                content: "";
                background: rgba(255, 255, 255, 0.30);
                opacity: 0;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

            .news-list .item .pic:hover:before {
                opacity: 1;
            }

            .news-list .item .pic:after {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0px;
                content: "";
                opacity: 0;
                background: rgba(255, 255, 255, 0.50);
                -moz-transform: translateX(-120%) skewX(-50deg);
                -webkit-transform: translateX(-120%) skewX(-50deg);
                -o-transform: translateX(-120%) skewX(-50deg);
                -ms-transform: translateX(-120%) skewX(-50deg);
                transform: translateX(-120%) skewX(-50deg);
                -webkit-transition: all 0.8s ease;
                -moz-transition: all 0.8s ease;
                -ms-transition: all 0.8s ease;
                -o-transition: all 0.8s ease;
                transition: all 0.8s ease;
            }

            .news-list .item .pic:hover:after {
                opacity: 1;
                -moz-transform: translateX(120%) skewX(-50deg);
                -webkit-transform: translateX(120%) skewX(-50deg);
                -o-transform: translateX(120%) skewX(-50deg);
                -ms-transform: translateX(120%) skewX(-50deg);
                transform: translateX(120%) skewX(-50deg);
            }*/

        .news-list .item h2 {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 16px;
            text-transform: uppercase;
        }

            .news-list .item h2 a {
                color: #990002;
            }

                .news-list .item h2 a:hover {
                    color: #000;
                }

        .news-list .item p {
            font-size: 15px;
            text-align: justify;
        }

.detail .sm-menu {
    border-right: 1px solid #ccc;
}

/*#detailSlide {
    margin-bottom: 30px;
}*/

#detailSlide .carousel-control.left, #detailSlide .carousel-control.right {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    background: rgb(112, 108, 108);
    display: block;
}

#detailSlide .carousel-control.left {
    left: auto;
    right: 80px;
    top: 80%;
}

#detailSlide .carousel-control.right {
    right: 20px;
    top: 80%;
}
/*===============album=============*/
.album-list {
    padding-left: 0px;
    list-style: none;
    position: relative;
}

    .album-list .item {
        margin: 0px;
        overflow: hidden;
        width: 264px;
    }


        .album-list .item.width2 {
            width: 528px;
        }

        .album-list .item .inner {
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            position: relative;
        }

        .album-list .item .pic {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: block;
            position: relative;
        }

            .album-list .item .pic:before, .news-list .item .pic:before, .allpackage .set .inner .pic:before, .training-list li .pic:before {
                position: absolute;
                content: "";
                left: 5%;
                top: 5%;
                width: 90%;
                height: 90%;
                -moz-transform: scale(0);
                -webkit-transform: scale(0);
                -o-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                background: rgba(0, 0, 0, 0.50);
                border: 2px solid #fff;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -o-box-sizing: border-box;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                z-index: 1;
            }

            .album-list .item .pic:after, .news-list .item .pic:after, .album-detail li .pic:after, .allpackage .set .inner .pic:after, .training-list li .pic:after {
                position: absolute;
                width: 40px;
                height: 35px;
                content: "";
                left: 50%;
                top: 50%;
                margin-left: -20px;
                margin-top: -17.5px;
                background: url(../images/icon/heart-lock.png) no-repeat;
                background-size: 100%;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                -ms-background-size: 100%;
                z-index: 3;
                -moz-transform: scale(0);
                -webkit-transform: scale(0);
                -o-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                -webkit-transition: all 0.5s linear;
                -moz-transition: all 0.5s linear;
                -ms-transition: all 0.5s linear;
                -o-transition: all 0.5s linear;
                transition: all 0.5s linear;
            }

            .album-list .item .pic:hover:before, .album-list .item .pic:hover:after, .news-list .item .pic:hover:before, .news-list .item .pic:hover:after, .allpackage .set .inner .pic:hover:before, .allpackage .set .inner .pic:hover:after, .training-list li .pic:hover:after, .training-list li .pic:hover:before {
                -moz-transform: scale(1);
                -webkit-transform: scale(1);
                -o-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }

            .album-list .item .pic img {
                max-width: initial;
                width: 100%;
                -moz-transform: scale(1);
                -webkit-transform: scale(1);
                -o-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                -webkit-transition: all 0.5s linear;
                -moz-transition: all 0.5s linear;
                -ms-transition: all 0.5s linear;
                -o-transition: all 0.5s linear;
                transition: all 0.5s linear;
            }

            .album-list .item .pic:hover img {
                -moz-transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -o-transform: scale(1.3);
                -ms-transform: scale(1.3);
                transform: scale(1.3);
            }



    .album-list .description {
        position: absolute;
        bottom: 0;
        display: inline-block;
        padding: 5px 15px;
        background: rgba(255, 255, 255, 0.79);
        border: 1px dashed #fff;
        z-index: 5;
    }

        .album-list .description h2 {
            margin: 0px;
            font-size: 22px;
            font-family: 'uvn_dinh_honregular';
        }

            .album-list .description h2 a {
                color: #000;
            }

                .album-list .description h2 a:hover {
                    color: #990002;
                }

    .album-list .item .description {
        right: 0;
    }

    .album-list .item.width2 .description, .album-list .item.height2 .description {
        left: 0px;
        right: auto;
    }

.album-detail {
    list-style: none;
    padding-left: 0px;
    position: relative;
}

.news-list .item {
    /*margin:0 10px 10px 10px;*/
    margin-bottom: 15px;
    width: 210px;
    float: left;
}

.album-detail li {
    float: left;
    margin: 5px;
    width: 200px;
}

    .album-detail li .pic {
        cursor: pointer;
        position: relative;
        display: block;
    }

        .album-detail li .pic:before {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.42);
        }

        .album-detail li .pic:hover:before {
            opacity: 1;
        }


.lightGallery-slide {
    position: relative;
    white-space: normal;
}

    .lightGallery-slide .descrition {
          position: absolute;
    padding: 10px;
    bottom: 50px;
    right: 5%;
    left: 5%;
    width: 90%;
    height: auto;
    color: #fff;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.42);
    z-index: 10;
    text-align: left;
    }

    .lightGallery-slide.current .descrition {
    }

    .lightGallery-slide .descrition .inner {
        position: relative;
        width: 100%;
    }

        .lightGallery-slide .descrition .inner p, .lightGallery-slide .descrition .inner h4 {
            position: relative;
            width: initial !important;
        }

.galleryInfo {
}

    .galleryInfo .block {
    }
/*==================dress================*/
.dress-list {
    list-style: none;
    padding-left: 0px;
}

    .dress-list .item {
        margin: 0px;
        overflow: hidden;
        width: 260px;
    }

        .dress-list .item.height2 {
            height: 630px;
        }

        .dress-list .item.width2 {
            width: 520px;
        }

        .dress-list .item .inner {
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            position: relative;
        }

        .dress-list .item .pic {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: block;
            position: relative;
        }

            .dress-list .item .pic:after {
                position: absolute;
                right: -75px;
                top: -57px;
                content: "";
                width: 75px;
                height: 57px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                background: url(../images/label/detail-1.png) no-repeat;
                background-size: 100% 100%;
                -webkit-background-size: 100% 100%;
                -moz-background-size: 100% 100%;
                -o-background-size: 100% 100%;
                -ms-background-size: 100% 100%;
            }

        .dress-list .item:hover .pic:after {
            right: 0;
            top: 0;
        }

        .dress-list .item .pic img {
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .dress-list .item:hover .pic img {
            -webkit-filter: blur(4px);
            -moz-filter: blur(4px);
            -o-filter: blur(4x);
            -ms-filter: blur(4px);
            filter: url(../assets/blur.svg#blur);
        }


        .dress-list .item .description {
            bottom: -100%;
            left: 0;
            width: 100%;
            height: auto;
            z-index: 10;
            background: rgb(82, 81, 81);
            color: #fff;
            position: absolute;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        .dress-list .item:hover .description {
            bottom: 0px;
            top: auto;
        }

        .dress-list .item .description h2 {
            font-weight: normal;
            font-size: 18px;
            text-transform: capitalize;
            padding: 0 10px;
        }

            .dress-list .item .description h2 a {
                color: #fff;
            }
/*====================allpackage=============*/
.allpackage {
}

    /*.allpackage .inner {
        padding: 40px;
    }*/

    .allpackage .set .inner {
        padding: 60px;
    }

        .allpackage .set .inner .pic {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 20px;
            border: 2px solid rgba(255, 255, 255, 0.80);
        }

        /*.allpackage .set .inner .pic img {
                overflow: hidden;
                -webkit-transition: all 0.5s linear;
                -moz-transition: all 0.5s linear;
                -ms-transition: all 0.5s linear;
                -o-transition: all 0.5s linear;
                transition: all 0.5s linear;
            }

            .allpackage .set .inner .pic:hover img {
                -moz-transform: scale(1.5) rotate(20deg);
                -webkit-transform: scale(1.5) rotate(20deg);
                -o-transform: scale(1.5) rotate(20deg);
                -ms-transform: scale(1.5) rotate(20deg);
                transform: scale(1.5) rotate(20deg);
            }*/


        /*.allpackage .set .inner .pic:before, .album-detail li .pic:after {
                position: absolute;
                top: 50%;
                left: 50%;
                height: 44px;
                line-height: 40px;
                margin-top: -22px;
                margin-left: -21px;
                width: 42px;
                content: "";
                -moz-transform: scale(0);
                -webkit-transform: scale(0);
                -o-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                background: url(../images/icon/icon-detail.png) no-repeat;
                background-size: 100%;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                -o-background-size: 100%;
                -ms-background-size: 100%;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

            .allpackage .set .inner .pic:hover:before, .album-detail li .pic:hover:after {
                -moz-transform: scale(1);
                -webkit-transform: scale(1);
                -o-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }*/

        .allpackage .set .inner .pos {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .allpackage .set .inner .description {
            position: absolute;
            width: 100%;
            font-size: 14px;
            font-family: Arial !important;
            font-weight: bold;
            text-transform: uppercase;
            color: #000;
        }

        .allpackage .set .inner .col-sm-6 {
            margin-bottom: 20px;
        }

            .allpackage .set .inner .col-sm-6:nth-child(1) .description {
                left: -10px;
                bottom: 0;
                text-align: center;
                -moz-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                transform-origin: bottom left;
                -webkit-transform-origin: bottom left;
                -moz-transform-origin: top right;
                -o-transform-origin: top right;
                -ms-transform-origin: top right;
            }

            .allpackage .set .inner .col-sm-6:nth-child(2) .description {
                bottom: 105%;
                left: 0;
                text-align: left;
            }

            .allpackage .set .inner .col-sm-6:nth-child(4) .description {
                right: -10px;
                bottom: 0;
                text-align: left;
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                transform-origin: bottom right;
                -webkit-transform-origin: bottom right;
                -moz-transform-origin: bottom right;
                -o-transform-origin: bottom right;
                -ms-transform-origin: bottom right;
            }
/*===========place-list==========*/
.place-list {
    list-style: none;
    padding-left: 0px;
    padding-top: 40px;
    padding-bottom: 80px;
}

    .place-list li {
        width: 200px;
        height: 200px;
        margin: 50px;
        float: right;
        border: 2px solid rgba(255, 255, 255, 0.71);
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

        .place-list li .block {
            width: 300px;
            position: absolute;
            top: -50px;
            left: -50px;
            height: 300px;
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .place-list li:nth-child(1) {
            margin-right: 250px;
        }

        .place-list li:nth-child(3) {
            margin-top: -100px;
            margin-right: 100px;
        }

        .place-list li:nth-child(4), .place-list li:nth-child(5) {
            margin-top: -100px;
        }

        .place-list li .block figure {
            display: block;
            width: 100%;
            height: 100%;
            color: #fff;
            background: rgba(0, 0, 0, 0.38);
            position: absolute;
            bottom: 100%;
            left: 0;
            padding: 40px;
            text-align: center;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

        .place-list li:hover .block figure {
            bottom: 0;
        }

        .place-list li .block figcaption {
            margin-top: -100px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .place-list li:hover .block figcaption {
            margin-top: 70px;
            -webkit-transition: all 0.6s linear;
            -moz-transition: all 0.6s linear;
            -ms-transition: all 0.6s linear;
            -o-transition: all 0.6s linear;
            transition: all 0.6s linear;
        }

        .place-list li .block .detail {
            width: 40px;
            height: 41px;
            margin-top: -100px;
            display: inline-block;
            background: url(../images/icon/heart-lock.png) no-repeat;
            background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -ms-background-size: 100% 100%;
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -ms-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
        }

        .place-list li:hover .block .detail {
            margin-top: 0px;
        }

#placeSlide.carousel {
    padding-bottom: 60px;
}
/*============training==============*/
.training-list {
    list-style: none;
    padding-left: 0px;
    padding-top: 100px;
}

    .training-list li {
        position: relative;
        margin-bottom: 20px;
        float: right !important;
    }

        .training-list li:nth-child(2n+1) {
            margin-top: -100px;
        }

        .training-list li .pic {
            display: block;
            position: relative;
            margin-bottom: 10px;
            overflow: hidden;
        }

        /*.training-list li .pic:before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                opacity: 0;
                background: rgba(0, 0, 0, 0.50);
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

            .training-list li .pic:hover:before {
                opacity: 1;
            }

            .training-list li .pic:after {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 40px;
                height: 40px;
                content: "";
                margin-left: -20px;
                margin-top: -20px;
                background: url(../images/icon/iocn-detail2.png) no-repeat;
                background-size: 100%;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                -ms-background-size: 100%;
                -o-background-size: 100%;
                -moz-transform: scale(0);
                -webkit-transform: scale(0);
                -o-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            .training-list li .pic:hover:after {
                -moz-transform: scale(1);
                -webkit-transform: scale(1);
                -o-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }*/

        .training-list li h2 {
            margin-top: 0px;
            font-size: 16px;
            font-weight: normal;
            text-transform: uppercase;
        }

.training .inner p {
    line-height: 1.8;
}

    .training .inner p:first-letter {
        margin-left: 20px;
    }
/*==============contact================*/
.companyInfo {
    margin-top: 20px;
}

    .companyInfo .inner {
        border: 1px dotted rgba(255, 255, 255, 0.95);
        position: relative;
        padding: 10px;
        border-radius: 20px;
    }

    .companyInfo h2 {
        margin-top: 10px;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: bold;
        letter-spacing: -1px;
    }

    .companyInfo p {
        font-size: 14px;
    }

/*=====================customer==========*/
#customerSlider {
}

    #customerSlider .block {
        margin-bottom: 30px;
    }

        #customerSlider .block h2 {
            font-size: 16px;
            text-transform: uppercase;
            color: #990002;
            font-weight: bold;
        }

.tag-list {
    list-style: none;
    padding-left: 10px;
    display: inline-block;
}

    .tag-list li {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
    }

        .tag-list li a {
            color: rgb(128, 128, 128);
        }

            .tag-list li a:hover {
                color: #990002;
            }

        .tag-list li:after {
            content: ",";
        }

        .tag-list li:last-child::after {
            content: "";
        }

.colSide {
}

.category {
    list-style: none;
    padding-left: 0px;
}

    .category li a {
        padding: 10px 10px 10px 0;
        text-align: left;
        display: block;
        border-bottom: 1px dashed rgb(128, 128, 128);
    }

        .category li a:hover, .category li.active a {
            background: #990002;
            color: #fff;
            padding-left: 10px;
        }

    .category li:last-child a {
        border-bottom: none;
    }

.news-modList {
    list-style: none;
    padding-left: 0px;
}

    .news-modList li {
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

        .news-modList li:last-child {
            border-bottom: none;
        }

        .news-modList li .description h3 {
            margin-top: 0px;
            font-size: 16px;
        }

        .news-modList li .pic {
            position: relative;
            overflow: hidden;
        }

            .news-modList li .pic:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.43);
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                opacity: 0;
            }

            .news-modList li .pic:hover:before {
                opacity: 1;
            }

#CusList .pic {
    display: block;
    padding: 50px 50px 0;
}

#CusList .block h4 {
    font-weight: bold;
    font-size: 16px;
}

.article-detail {
    margin-top: 20px;
}

.OtherServices {
    margin-bottom: 20px;
}

    .OtherServices .pic {
        display: block;
        overflow: hidden;
        position: relative;
    }

        .OtherServices .pic figure {
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.63) 78%, rgba(255,255,255,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(78%,rgba(255,255,255,0.63)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.63) 78%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.63) 78%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.63) 78%,rgba(255,255,255,0) 100%); /* IE10+ */
            background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.63) 78%,rgba(255,255,255,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        }

.owl-carousel .owl-nav {
    font-size: 40px;
}

    .owl-carousel .owl-nav .owl-prev {
        top: 50%;
        left: 10px;
        margin-top: -23px;
        position: absolute;
    }

    .owl-carousel .owl-nav .owl-next {
        top: 50%;
        margin-top: -23px;
        right: 10px;
        position: absolute;
    }

.newAlbum {
    margin-bottom: 20px;
}

    .newAlbum .pic {
        display: block;
        overflow: hidden;
        position: relative;
    }

        .newAlbum .pic:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.50);
            opacity: 0;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: 1;
        }

        .newAlbum .pic:hover:before {
            opacity: 1;
        }

        .newAlbum .pic:after {
            content: "";
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 50%;
            width: 30px;
            height: 30px;
            margin-top: -15px;
            margin-left: -15px;
            background: url(../images/icon/icon-detail.png) no-repeat;
            background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            -ms-background-size: 100% 100%;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            -moz-transform: scale(0);
            -webkit-transform: scale(0);
            -o-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
        }

        .newAlbum .pic:hover:after {
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

.sendMail {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(128, 128, 128);
    background: #fff;
    margin-bottom: 20px;
}

    .sendMail .txt-input {
        padding: 5px 30px 5px 5px;
        color: #000;
        border: none;
        background-color: transparent;
    }

    .sendMail .btn-mail {
        background: #990002;
        color: #fff;
        padding: 5px 10px;
        font-size: 16px;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
    }

        .sendMail .btn-mail:hover {
            background: rgb(111, 109, 109);
        }

.fastlink {
    list-style: none;
    padding-left: 0;
}

    .fastlink li a {
        display: block;
        padding: 5px 10px;
    }

.aboutBlock {
    padding-left: 0px;
    list-style: none;
}

    .aboutBlock li .inner {
        padding: 10px;
    }

    .aboutBlock li a {
        height: 80px;
        display: block;
        background: rgba(255, 255, 255, 0.80);
        padding: 10px;
        overflow: hidden;
    }

        .aboutBlock li a:hover {
            background: rgba(0, 0, 0, 0.60);
        }

        .aboutBlock li a span {
            display: block;
            width: 40%;
            float: left;
            padding: 5px;
        }

        .aboutBlock li a strong {
            margin-top: 0;
            display: block;
            width: 60%;
            padding: 5px;
            float: left;
        }

    .aboutBlock li:nth-child(1) a, .aboutBlock li:nth-child(4) a {
        border-radius: 0px 20px 0 20px;
    }

    .aboutBlock li:nth-child(2) a, .aboutBlock li:nth-child(3) a {
        border-radius: 20px 0px 20px 0px;
    }

/*===========them=========*/
#main-content .heading2, #main-content .colSide {
    margin-top: 20px;
}

#video-gallery {
    width: 100%;
}

.rsOverflow {
    width: 80% !important;
}

.rsDefault .rsThumbsVer {
    width: 20% !important;
}

.videoGallery .rsTmb {
    padding: 10px;
}

.videoGallery .rsThumbs .rsThumb {
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #2E2E2E;
}

.rsDefault .rsThumb img {
    width: 40% !important;
    float: left;
    padding-right: 10px;
}

.rsDefault .rsTmb h5 {
    width: 60% !important;
    float: left;
}

.videoGallery .rsThumbs {
    width: 220px;
    padding: 0;
}

.videoGallery .rsThumb:hover {
    background: #000;
}

.videoGallery .rsThumb.rsNavSelected {
    background-color: #02874A;
    border-bottom: -color #02874A;
}

.rsDefault .rsThumb.rsNavSelected, .videoGallery .rsThumb.rsNavSelected {
    background: rgba(153, 0, 2, 0.75) !important;
}

.sampleBlock {
    left: 3%;
    top: 1%;
    width: 100%;
    max-width: 400px;
}

.rsVideoContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    float: left;
}
/*=============support online==========*/
body.hasLoad #httt, body.hasLoad #dealPanel {
    visibility: hidden;
}

#httt, #dealPanel {
    display: block;
    height: 135px;
    position: fixed;
    right: -270px;
    top: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 270px;
    z-index: 20;
}

#dealPanel {
    top: 15%;
    right: -270px;
    height: auto;
    min-height: 320px;
}

    #httt.in, #dealPanel.in {
        right: 0px;
    }

#btn1ht {
    position: absolute;
    width: 60px;
    height: 180px;
    background: url(../images/bg/bg-deal1.png) no-repeat;
    border: none;
    border-radius: 0;
    text-align: left;
    left: -60px;
    bottom: -44px;
    content: "";
    cursor: pointer;
}

#dealPanelbtn {
    position: absolute;
    width: 60px;
    height: 230px;
    background: url(../images/bg/bg-deal1.png) no-repeat;
    border: none;
    border-radius: 0;
    text-align: left;
    left: -60px;
    bottom: 92px;
    content: "";
    cursor: pointer;
}

    #dealPanelbtn span, #btn1ht span {
        -moz-transform: rotate(-90deg) translate3d(0,0,0);
        -webkit-transform: rotate(-90deg) translate3d(0,0,0);
        -o-transform: rotate(-90deg) translate3d(0,0,0);
        -ms-transform: rotate(-90deg) translate3d(0,0,0);
        transform: rotate(-90deg) translate3d(0,0,0);
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: block;
        width: 154px;
        position: absolute;
        right: -62px;
        top: 117px;
    }

#btn1ht span {
    width: 140px;
    right: -51px;
    top: 90px;
}

#btn1ht:hover, #dealPanelbtn:hover {
    color: #990002;
}

/*#httt:hover {
        right: 0;
    }*/

#httt-content, #dealPanelContent {
    background: url(../images/bg/bg-deal.png) no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    float: right;
    min-height: 270px;
    height: 100%;
    width: 100%;
    margin-top: 1px;
    padding: 15px 15px 15px 30px;
    border-radius: 0 10px 10px 0;
}

#dealPanelContent {
    min-height: 320px;
    padding: 10px 20px 10px 5px;
    border: none;
}

#httt-content .hotline {
    font-size: 18px;
    text-transform: uppercase;
}

#httt-content .outer {
    margin-bottom: 15px;
}

    #httt-content .outer b {
        color: #c22412;
    }

#httt-content .detail div {
    color: #3a5799;
    font-family: 'Times New Roman';
    font-size: larger;
}


@media screen and (min-width: 0px) and (max-width: 992px) {
    .rsOverflow {
        width: 100% !important;
    }

    .videoGallery .rsTmb {
        padding: 6px 8px;
    }


    .rsDefault .rsThumbsHor {
    }

    .videoGallery .rsTmb h5 {
        font-size: 12px;
        line-height: 17px;
    }

    .sampleBlock {
        font-size: 14px;
    }
    /*.rsDefault .rsThumbsVer {
        width:100%!important;
    }*/
    .videoGallery .rsThumbs .rsThumb {
        width: 230px !important;
    }
}

.searchForm {
    position: relative;
    margin-top: -20px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

    .searchForm .form-control {
        padding-right: 20px;
    }

    .searchForm button {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        border: none;
        background-color: transparent;
    }

        .searchForm button:hover {
            color: #990002;
        }
/*============set media screen=========*/

@media (min-width:1370px) {
    .place-list li:nth-child(3) {
        margin-top: 50px;
        margin-right: 50px;
    }

    .place-list li:nth-child(4) {
        margin-right: 400px;
    }

    .place-list li:nth-child(5) {
        margin-right: 50px;
    }
}

@media (min-width:992px) and (max-width:1170px) {
    .place-list li:nth-child(5) {
        margin-right: 250px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .place-list li:nth-child(1), .place-list li:nth-child(2) {
        margin-right: 50px;
    }

    .place-list li:nth-child(3) {
        margin-right: 200px;
    }
}

@media (max-width:767px) {

    .album-list .item {
        width: 100%;
    }

        .album-list .item.height2 {
            height: auto;
        }

        .album-list .item.width2 {
            width: 100%;
        }

    .place-list li {
        width: 150px;
        height: 150px;
        float: none;
    }

        .place-list li .block {
            height: 230px;
            width: 230px;
            left: -40px;
            top: -40px;
        }

        .place-list li:nth-child(n) {
            margin: 50px 50px 65px;
            float: none;
        }

    .sm-menu {
        visibility: hidden;
    }

    #menu-toggle-wrapper {
        background-color: rgba(255, 255, 255, 0.77);
        border-radius: 3px;
    }

    .heading1 .icon-title {
        display: block;
        margin-bottom: 0px;
    }

    .heading1 {
        padding: 0 10px;
    }

        .heading1 .slogan {
            line-height: 1;
        }

    #desktop-device.homePage {
        position: relative;
        height: auto;
    }
    /*#slideshow {
        min-height:300px;
    }*/
    /*#layerslider {
        width:1200px!important;
        height:400px !important;
    }*/
    footer {
        position: relative;
        width: 100%;
    }
}
img{width:100%}

/*add*/
.clickhere {
    text-transform: uppercase;
    color: #990002;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    width: 120px;
    right: -31px;
    bottom: 50%;
    -moz-transform: rotate(-90deg) translate(40px,10px);
    -webkit-transform: rotate(-90deg) translate(40px,10px);
    -o-transform: rotate(-90deg) translate(40px,10px);
    -ms-transform: rotate(-90deg)translate(40px,10px);
    transform: rotate(-90deg) translate(40px,10px);
}
#map2 {
    border: 0px !important;
}