* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 150%;
	background: #eee;
}
.headerContainer,
.bodyContainer,
.footerContainer {
	max-width: 960px;
	margin: 0 auto;
	background: #FFF;
	position: static;
}
.padding {
	padding: 20px;
}
.bodyContainer {
	min-height: 500px;
}



.mainContainer img {
	max-width: 100%;
	width: 100%;
	height: auto;
}
.mainContainer {
	font-size: 20px;
	position: relative;
}
.absoluteContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
	color: #FFF;
	background: rgba(0,0,0, 0.2);
	padding: 30px;
	border-radius: 10px;
}
.imageText p {
	margin-top: 10px;
	font-size: 16px;
}