/* header */
ul.nav.navbar-nav {
    float: right;
}
.navbar-nav>li>a {
    padding: 30px 0px 30px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #000 !important;
    }
.navbar-default {
    background-color: none;
    border-color: #e7e7e7;
}
.navbar {
    min-height: 78px;
}
/* Slider */
#example {
  height: 500px;
  overflow: hidden;
  /*margin-top: 50px;*/
}
#example .mSButtons {
  height: 80%;
}
#example .frame {
  width: 100%;
  height: 100%;
}
#example .frame .slide_element {
  height: 100%;
}
#example .frame .slide_element > div {
  float: left;
  height: 100%;
  overflow: hidden;
}
#example .frame .mSCover img {
  max-width: none;
}
#example .credit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 11px;
  line-height: normal;
  font-weight: 300;
  text-shadow: rgba(0,0,0,0.7) 0 1px 0px;
  color: #CCC;
  background: #000;
  background: rgba(0,0,0,0.6);
  padding: 0 4px;
  white-space: nowrap;
  z-index: 1002;
  text-transform: uppercase;
}
#example .credit a {
  color: #FFF;
  font-weight: 400;
}
.infoBlock {
  position: absolute;
  top: 30px;
  right: 30px;
  left: auto;
  max-width: 30%;
  padding-bottom: 0;
  background: #FFF;
  background: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  padding: 20px;
  z-index: 1002;
}
.infoBlockLeftBlack {
  color: #FFF;
  background: #000;
  background: rgba(0,0,0,0.55);
  left: 90px;
  right: auto;
  opacity: 0;
}
.infoBlock2 {
  top: 90px;
  left: 100px;
}
.infoBlock h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
  color: inherit;
  text-align: left;
}
.infoBlock p {
  font-size: 16px;
  font-weight: 300;
  margin: 4px 0 0;
}
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}

@media (max-width: 979px) {
  #example {
    height: 400px;
    margin-top: 0;
  }
  .infoBlock {
    min-width: 40%;
  }
}

@media (max-width: 768px) {
  #example {
    margin: 0 -20px;
    height: 300px;
  }
  .infoBlock {
    padding: 10px;
    height: auto;
    max-height: 100%;
  }
  .infoBlock h4 {
    font-size: 14px;
    line-height: 17px;
  }
  .infoBlock p {
    font-size: 12px;
  }
}
.blog_entry .btn {
	/* background: #f7f7f7; */
	padding: 8px 12px !important;
	text-transform: uppercase;
	color: #222;
	border: 1px #ddd solid;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	border-radius: 0px;
}