@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* ==========================================================================
Global Styles
========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0d0d0d;
  overflow-x: hidden;
}

/* ==========================================================================
Typography
========================================================================== */
h1 {
  font-size: 72px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.16em;
}

h2 {
  font-size: 36px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 26px;
  color: #000;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  color: #000;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.container{
  max-width: 1000px;
}
.clear{
  width: 100%;
  clear: both;
}
    /* ==========================================================================
Media Queries Style
========================================================================== */
@media (max-width: 992px) {
  
}
    /* ==========================================================================
Header
========================================================================== */

.menu-top{
  margin: 10px 0;
  overflow: hidden;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}
.form-control{
border-radius: 0;
}
.img-logo{
  width: 110px;
}
/*Menu-bot*/
.menu-bot .navbar {
  border-radius: 0px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #000;
  background-color: #FFCB08;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default {
  background-color: #0171BC;
  border-color: none;
}
.navbar-nav > li > a {
   padding-top: 7px; 
   padding-bottom: 7px; 
}
.navbar {
  min-height: 36px;
  margin-bottom: 0px;
}
.navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
/* */

.box-marque{
  box-shadow: 0 4px 3px -2px rgba(0,0,0,0.20);
  height: 30px;
  line-height: 30px;
}
.box-marque p{
  color: #333333;
  font-size: 14px;
}
    /* ==========================================================================
Content
========================================================================== */
/* col-md-9*/

/* col-md-3*/
/* list-group */
.list-cust .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list-cust .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-cust .list-group-item {
   border-right:0px;
   border-left:0px;
}
.list-group :not(:first-child) {
    background-color: #EEE;
    
}
.list-group .active{
  text-transform: uppercase;
}
.list-group .fa{
  margin-right:5px;
}
.list-group{
background: #0171bc url("../img/bg/cate.png") no-repeat scroll right top;
overflow: hidden;
width: 100%;
}
.xoa{
background: #0171bc url("../img/bg/cate.png") no-repeat scroll right top;
overflow: hidden;
width: 100%;
height: 100px;
}
    /* ==========================================================================
Footer
========================================================================== */
