a:hover{
   text-decoration: none;
}
.container{
  max-width: 1250px;
}
/* Header */
.navbar-default {
    background-color: #3D4C54;
    border-color: #3D4C54;
}
.navbar {
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-nav>li {
    float: left;
    border-right: 1px solid #ccc;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    color: #fff !important;
    background: #303e45 !important;
}
i.fa.fa-home {
    font-size: 16px;
}
ul.nav.navbar-nav {
    margin-left: 140px;
}
#headline {
  background: #ebebeb;
  padding: 30px 40px 0;
}
#headline .post {
  background: #FFF;
  margin-bottom: 30px;
  padding: 10px;
}
#headline .post a {
  color: #555E6B;
      font-size: 12px;
}
#headline .post img {
  float: left;
  margin-right: 10px;
}
.thumb {
  width: 91px;
}
#headline .post h3 {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  margin: 0 0 0.1em;
}
#headline .post p {
  color: #939EAD;
  font-size: 12px;
  margin: 0;
}
.row-fluid .span3 {
    width: 23.076923076923077%;
        margin-left: 16px;
        float: left;
}
.navbar {
    margin-bottom: 0px;
}
@media screen and (max-width: 1000px) {
    .row-fluid .span3 {
    width: 100%;
}
}
.brnews h3 {
  background: url("../images/brnews-bg1-min.png") no-repeat;
  background-size: 110px;
  color: #FFF;
  float: left;
  font-size: 11px;
  line-height: 1;
  margin: 0;
  padding: 6px 7px 7px;
  width: 115px;
    margin-left: 43px;
}
.simply-scroll-list a {
    max-width: 400px;
    font-size: 12px;
    color: #3D4C54;
}
.brnews {
  background: #f7f7f7;
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  height: 41px;
  padding: 8px 12px;
  overflow: hidden;
}
/* Slider */
 #example {
        position: relative;
        background: #000;
    }
    #example .mightyslider_modern_skin {
        margin-right: 299px;
    }
    #example .frame {
        width: 100%;
        height: 500px;
    }
    #example .frame .slide_element {
        height: 100%;
    }
    #example .frame .slide_element > div {
        float: left;
        height: 100%;
    }
    #example .frame .mSCover img {
        max-width: none;
    }
    #example .tabs {
        position: absolute;
        width: 299px;
        height: 100%;
        right: 0;
        background: #2E2E2E;
    }
    #example .tabs ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #example .tabs ul li {
        background: #2E2E2E;
        width: 100%;
        cursor: pointer;
        padding: 15px 10px;
        border-bottom: #333 1px solid;
        color: #5a5a5a;
        font-weight: 300;
        font-size: 12px;
        
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        -webkit-transition: background 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
           -moz-transition: background 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
            -ms-transition: background 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
             -o-transition: background 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                transition: background 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    }
    #example .tabs ul li:last-of-type {
        border-bottom: 0;
    }
    #example .tabs ul li h3 {
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 10px;
    }
    #example .tabs ul li:hover {
        background: #000;
        color: #999;
    }
    #example .tabs ul li:hover h3 {
        color: #FFF;
    }
    #example .tabs ul li.active {
        background: #080;
        color: #FFF;
    }
    #example .caption {
        font-size: 26px;
        line-height: normal;
        font-weight: 300;
        text-shadow:0px 0px 0 rgb(208,208,208), 1px 1px 0 rgb(170,170,170),2px 2px 1px rgba(0,0,0,0.05),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);
        color: #FFF;
        opacity: 0;
        letter-spacing: -1px;
        white-space: nowrap;
        text-align: center;
        z-index: 1002;
        text-transform: uppercase;
        text-align: center;
    }
    #example .caption1 {
        font-size: 20px;
        top: 390px;
        left: 80px;
        text-shadow: rgba(0,0,0,0.7) 0 1px 0px;
        text-align: left;
        word-spacing: 4px;
        line-height: 100%;
    }
    #example .caption2 {
        top: 390px;
        left: 180px;
        background: rgba(0,0,0,0.4);
        padding: 10px 20px;
        border-radius: 100px;
    }
    #example .caption3 {
        width: 166px;
        height: 166px;
        line-height: normal;
        font-size: 166px;
        font-family: Times;
        top: 300px;
        left: 300px;
    }
    
    /* Responsive Improvements */
    @media (min-width: 980px) and (max-width: 1199px) {
        #example .mightyslider_modern_skin {
            margin-right: 239px;
        }
        #example .tabs {
            width: 239px;
        }
        #example .tabs ul li h3 {
            font-size: 14px;
            line-height: 14px;
        }
    }
    
    @media (max-width: 979px) {
        #example .mightyslider_modern_skin {
            margin-right: 182px;
        }
        #example .tabs {
            width: 182px;
        }
        #example .tabs ul li h3 {
            font-size: 11px;
            line-height: 11px;
        }
    }
    
    @media (max-width: 767px) {
        .marketing2  {
            margin-left: -20px;
            margin-right: -20px;
        }
    }
    
    @media (max-width: 480px) {
        #example .mightyslider_modern_skin {
            margin-right: 0;
        }
        #example .tabs {
            display: none;
        }
    }